apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fhir-processor.name" . }}
  labels:
    {{- include "fhir-processor.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "fhir-processor.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        {{- include "fhir-processor.labels" . | nindent 8 }}
    spec:
      containers:
        - name: fhir-processor
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          env:
            {{- range .Values.env }}
            - name: {{ .name }}
              value: {{ .value | quote }}
            {{- end }}
          volumeMounts:
            - name: config-volume
              mountPath: /config

      volumes:
        - name: config-volume
          configMap:
            name: fhir-processor-config